*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  --main-color: #333;
  --main-color-darker: #222;

  --main-color-shade-1: #1f1f1f;
  --main-color-shade-2: #1b1b1b;
  --main-color-shade-3: #181818;

  --main-color-tint-1: #383838;
  --main-color-tint-2: #4e4e4e;
  --main-color-tint-3: #646464;

  --main-color-lighter: #444;
  --light-gray: #eee;
  --mid-gray: #999;
  --important-green: #2f9e44;
  --text-color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: var(--text-color);
}

.app-window{
  display: grid;
  height: 100vh;
  background-color: var(--main-color-shade-2);
  grid-template-columns: calc(3.4em + 2em) 1fr;
}

.servers-bar{
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: var(--main-color-shade-2);
}

.icon-circle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.4rem;
  width: 2.4rem;
  background-color: var(--main-color-lighter);
  border-radius: 50%;
  overflow: hidden;
  transition: border-radius 0.2s;
}

.icon{
  margin: 0 auto;
  cursor: pointer;
  height: 3.4rem;
  width: 3.4rem;
}

.icon-container:hover .icon-components--small .icon-circle{
  border-radius: 30% !important;
  background-color: orangered;
}

.icon-container:nth-of-type(1) .icon-components--big .icon-circle{
  background-color: grey;
}

.icon-container:hover .icon-components--small.icon-components::before{
  padding-bottom: 65%;
}

/* .icon-components{
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.2em;
} */

.icon-components{
  position: relative;
}

.icon-components::before{
  content: "";
  position: absolute;
  background-color: var(--light-gray);
  left: -20%;
  top: 50%;
  transform: translate(0, -50%);
  padding-left: 16%;
  border-radius: 1em;
  z-index: 1;

  transition: padding-bottom 0.2s;
}

.icon-components--big::before{
  padding-bottom: 65%;
}

.icon-components--small::before{
  padding-bottom: 15%;
}

.icon-circle{
  flex-shrink: 0;
}

.icon-main{
  border-radius: 30% !important;
  position: relative;
  /*   margin-bottom: 1em; */
}


.icon-container:first-child::after{
  content: "";
  display: block;
  width: 45%;
  height: 2px;
  background-color: var(--main-color-lighter);
  margin: 1em auto 0 auto;
}

.icon-circle{
  transition: all 0.2s;
}

.ion-icon{
  transition: all 0.2s;
}

.icon-container.icon--important:hover .icon-circle{
  background-color: var(--important-green);
}
.icon-container.icon--important:hover ion-icon{
  color: #fff;
}

.stroke-important{
  color: var(--important-green);
}

ion-icon{
  height: 2.2rem;
  width: 2.2rem;
  color: #fff;
}

.inner-section{
  display: grid;
  grid-template-columns: 1fr 4.8fr;
  grid-template-rows: auto 1fr;
  border-top-left-radius: 0.8em;
  overflow: hidden;
}

.search-bar{
  padding: 0.2em;
  border-bottom: 2px solid var(--main-color-darker);
}


.chat-menu-bar{
  background-color: var(--main-color-lighter);
  padding: 0.2em;
  grid-column: 2;
  border-bottom: 2px solid var(--main-color-darker);
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.chats-bar{
  grid-column: 1;
  grid-row: 2;
}

.chats-bar > *{
  width: 100%;
}

.section{
  padding: 0.5em;
}

/******************************** */
/* Columna 2 */
/******************************** */
.chats-bar{
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  color: var(--light-gray);
  position: relative;
}

.search-bar{
  background-color: var(--main-color);
}

.search-bar > input{
  display: block;
  width: 98%;
  height: 1.8rem;
  font-size: 0.8rem;
  padding: 0.3em;
  background-color: var(--main-color-darker);
  border: none;
  border-radius: 0.35em;
  color: var(--light-gray);
  margin: 0 auto;
}

.links > *+*{
  margin-top: 0.2em;
}

.link-icon{
  margin-left: 0.5em;
  height: 1.5rem;
  width: 1.5rem;
}

.link{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.link h2{
  font-size: 1rem;
  font-weight: 400;
}

.direct-messages > h2{
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.8em;
}

.friends{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.friend{
  display: flex;
  align-items: center;
  padding: 0.2em 0.4em;
  gap: 1em;
}

.button{
  cursor: pointer;
  color: var(--mid-gray);
  border-radius: 0.25em;
  display: flex;
  align-items: center;
}

.link{
  padding: 0.6em 0.4em;
}

.button:hover{
  background-color: var(--main-color-lighter);
  color: var(--light-gray);
}

.active{
  background-color: var(--main-color-lighter);
  color: var(--light-gray);
}

.close-symbol{
  display: none;
}

.friend:hover .close-symbol{
  display: block;
  margin: 0 0.2em 0 auto;
  font-size: 1.5rem;
  color: var(--mid-gray);
}

.friends .close-symbol:hover{
  color: #bbb;
}

.friend-img{
  width: 2.5rem;
}

.friend span{
  font-size: 0.9rem;
}

.person-icon{
  width: 1.8rem;
  height: 1.8rem;
}

.user-menu{
  height: 3rem;
  width: 100%;
  background-color: var(--main-color-shade-1);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6em;
}

.name{
  font-size: 0.9rem;
  font-weight: 700;
}

.status{
  font-size: 0.7rem;
}

.name-and-status{
  flex-basis: 1;
  flex-grow: 15;
  flex-shrink: 0;
}

.user{
  display: flex;
  align-items: center;
  gap: 0.3em;
  cursor: pointer;
}

.user .icon-circle{
  flex-basis: content;
  flex-grow: 0;
  height: auto;
}

.user-menu > .icon-circle{
  width: 2rem;
  height: 2rem;
}

.user-menu .friend-img{
  width: 2rem;
  height: 2rem;
} 

.user-menu ion-icon{
  height: 1.4rem;
  width: 1.4rem;
  flex-grow: 0;
  box-sizing: content-box;
  padding: 0.3rem;
  color: var(--mid-gray);
}

.buttons-user-menu{
  display: flex;
}

.chat-view{
  background-color: var(--main-color-lighter);
}

.padding-s{
  padding: 0.5em;
}

.padding-m{
  padding: 1em;
}

.chating-with{
  font-weight: 600;
}
